.main-header {
    display: flex;
    text-align: center;
    padding: 15px;
    background: #a77087;
    color: #fff;
    line-height: 40px;
    font-size: 24px;
    letter-spacing: 1px;
}
span {
    flex: 1;
}