<div class="add-form">
    <form [formGroup]="taskForm" (ngSubmit)="onAddDetails()">
        <div *ngIf="taskForm.get('taskName')?.invalid && taskForm.get('taskName')?.touched" class="error">
            Task Name is required.
        </div>
        <div *ngIf="taskForm.get('type')?.invalid && taskForm.get('type')?.touched" class="error">
            Tracker Type is required.
        </div>
        <div *ngIf="taskForm.get('date')?.invalid && taskForm.get('date')?.touched" class="error">
            Date is required.
        </div>
        <div class="form-group">
            <div class="form-group">
                <input formControlName="taskName" type="text" placeholder="Task Name">
            </div>
            <div class="form-group">
                <input formControlName="type" placeholder="Task Type (eg.Birthday)">
            </div>
            <div class="form-group">
                <input formControlName="date" type="date">
            </div>
        </div>
        <div class="form-group-status">
            <label class="status" for="status">Status</label>
            <div class="form-group-status">
                <label>
                    <input formControlName="status" id="status"  value="pending" type="radio">
                    Pending</label>
            </div>
            <div class="form-group-status">
                <label>
                    <input formControlName="status" id="status" value="completed" type="radio">
                    Completed</label>
            </div>
        </div>
        <div class="add-button">
            <button [disabled]="taskForm.invalid" class="button">Add Details</button>
            <button class="button" (click)="reset()">Clear</button>
        </div>
    </form>
</div>