<div class="mat-elevation-z8" [style.margin-bottom]="label === 'Pending Tasks' ? '40px': ''">
    <div [class]="label === 'Pending Tasks' ? 'pendingTask': 'completeTask'" class="mail-flex">
        <h4>{{label}}</h4>
        <div class="mail-decor"><button (click)="sendMail()">Send Mail</button></div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort [trackBy]="trackById" class="mat-table-responsive">

        <!-- Index Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1 + currentPageIndex * pageSize}} </td>
        </ng-container>
        <!-- Task Column -->
        <ng-container matColumnDef="taskName">
            <th mat-header-cell *matHeaderCellDef> TaskName </th>
            <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-date"> Date </th>
            <td mat-cell *matCellDef="let element" class="column-date"> {{element.date}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div class="icons">
                    <svg (click)="onEditTask(element)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                        height="22" width="24">
                        <title>Edit</title>
                        <path
                            d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1 .8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z" />
                    </svg>
                    <svg (click)="onRemoveTask(element)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        height="22" width="24">
                        <title>Delete</title>
                        <path
                            d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0 -12-12h-24a12 12 0 0 0 -12 12v216a12 12 0 0 0 12 12zM432 80h-82.4l-34-56.7A48 48 0 0 0 274.4 0H173.6a48 48 0 0 0 -41.2 23.3L98.4 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0 -16-16zM171.8 50.9A6 6 0 0 1 177 48h94a6 6 0 0 1 5.2 2.9L293.6 80H154.4zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0 -12-12h-24a12 12 0 0 0 -12 12v216a12 12 0 0 0 12 12z" />
                    </svg>
                    <svg *ngIf="label === 'Pending Tasks'" (click)="onCompleteTask(element)"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="22" width="24">
                        <title>Done</title>
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
                    </svg>
                </div>
            </td>
        </ng-container>

        <!-- No data message -->
        <ng-container matColumnDef="noData">
            <th mat-header-cell *matHeaderCellDef> No data found </th>
            <td mat-cell *matCellDef="let element" class="column-age"> No data found </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="taskLists.length > 5" [length]="taskLists.length" [pageSize]="pageSize" [pageSizeOptions]="[5,10]"
        (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
</div>