<!-- <section class="container">
<app-header></app-header>
<div class="sub-container-flex">
<app-sidebar class="sidebar"></app-sidebar>
<app-main-content class="main"></app-main-content>
</div>
<app-footer></app-footer>
</section> -->
<div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div *ngFor="let item of items" class="item">
        {{ item }}
    </div>
</div>
@for (item of items; track item.id) {
    <div>
      {{ item }}
    </div>
}
<div>
    <div>
        {{data() | json}}
    </div>
    <div>
        <input [(ngModel)]="name" placeholder="Enter your name" />
        <button (click)="updateData()">Update Data</button>
    </div>
    <div>
        <h1>WebSocket Chat</h1>
        <div *ngFor="let msg of messages">
            {{name}} : {{ msg | removeQuotes }}
        </div>
        <input [(ngModel)]="message" placeholder="Type a message" />
        <button (click)="sendMessage()">Send</button>
    </div>
</div>
    <app-slider></app-slider>